svg {
  fill:currentColor;
}

svg .circleframe {
  fill:$body-font-color;
}

.callout {
  font-size: .875rem;
  //font-family: $header-font-family;
}
.button {
  font-family: $header-font-family;
  border-width: 2px;
  letter-spacing: .0666em;
}
.button--ghost {
  background-color: transparent;
  border-color: $primary-color;
  &:hover, &:focus {
    background-color: transparent;
    //color:$anchor-color-hover;
    border-color: $anchor-color-hover;
  }
}
.button--squared {
  border-radius: 0;
}

.inverseblock {

}

figure {
  margin:0 0 $paragraph-margin-bottom * 3 ;
  text-align: center;
  &.screenshot {

    img {
      //border:2px solid $dark-gray;
      box-shadow: 0 0 5rem .25rem  rgba(#000,.25);
    }
    @include breakpoint(large) {
      margin-bottom: 6rem;
      // max-width: 75%;
      // margin-left:auto;
      // margin-right: auto;
    }
  }
  figcaption {
    font-size: .875rem;

    padding-top: 2em;
    line-height: 1.125;
    color:$light-gray;
    //font-family: $header-font-family;
  }
}
