.sticky {
  z-index:4;
}
.top-bar {
  text-transform: uppercase;
  //border-bottom: 1px solid $medium-gray;
  .button {
    margin-top: .7rem;
    margin-left: .875rem;

    text-transform: uppercase;
    padding: $button-padding;
    font-weight: $global-weight-normal;
    color: $white;
    &:hover {
      color:$white;
      //background-color: map-get($foundation-palette,'success')
    }
  }
  @include breakpoint(medium) {
    padding-left: 1rem;
    padding-right: 1.5rem;
  }
  @include breakpoint(xlarge) {
    padding-left: 2rem;
    padding-right: 2.75rem;
    padding-top: 1.25rem;
    padding-bottom:1.25rem;
  }
}
.top-bar--signup {
  border-bottom: 1px solid $medium-gray;
}

.topbarfeat.top-bar-right {
  width:auto;
  //min-width: 10rem;
  .menu {
    float:right;
  }
}
.menutoggler {
  position: absolute;
  right:1rem;
  top:.666rem;
  // transform:translateX(-40%);
  display: inline-block;
  color:$white;
  font-family: $header-font-family;
  //line-height: 1;
  //font-size: .75rem;
  @include breakpoint('large') {
    display: none;
  }
  a {
    color:$white;
  }
}
.sitelogo {
  display: inline-block;
  overflow: hidden;

  width: 7.5rem;
  height: 3rem;
  margin-top: .4rem;

  white-space: nowrap;
  text-indent: 100%;
  //background-color: red;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% auto;
}

.menu {
  > li {
    > a {
      font-family: $header-font-family;
      &.active, &:hover {

      }
    }
  }
}

.menu--main {
  > li {
    text-align: center;
    > a {
      color: $white;
      font-size: .666rem;
      padding: 1.5rem 1rem 1.5rem;
      &:hover {
        color: $primary-color;
      }
      &.active {
        color: $primary-color;
      }
      @include breakpoint('medium') {
        font-size: 1rem;
        padding: $menu-item-padding;
      }
    }
  }
}

.responsive-menu {
  position: absolute;
  z-index: 3;
  left:0;
  top:75px;
  height:60px;
  width:100%;
  border-top:1px solid $medium-gray;
  border-bottom:1px solid $medium-gray;
  text-align: center;
  display: none;
  .menu--main {
    display: inline-block;
  }
  @include breakpoint(medium) {
    position: static;
    border:none;
    height:auto;
    .menu--main {
      display: block;
    }
  }
}
