.top-bar {
  text-transform: uppercase;
  //border-bottom: 1px solid $medium-gray;
  .button {
    margin-top: .875rem;
    margin-left: .875rem;

    text-transform: uppercase;
    padding: $button-padding;
    font-weight: $global-weight-normal;
    &:hover {
      color:$white;
    }
  }
}
.sitelogo {
  display: block;
  overflow: hidden;

  width: 7.5rem;
  height: 4rem;

  white-space: nowrap;
  text-indent: 100%;
  //background-color: red;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% auto;
}

.menu {
  > li {
    > a {
      font-family: $header-font-family;
      //font-size: .875rem;

      color: $white;
      &.active, &:hover {
        color: $primary-color;
      }
    }
  }
}
