h1, h2, h3, h4, h5, h6 {
  letter-spacing: .0666em;
  text-transform: uppercase;
}
.smalltitle {
  font-size: 1.25rem;
  text-align: center;
  margin:0 0;
  text-transform: none;
}

.ps__title {
  text-align: center;
  margin:0 0;
  .testimonials & {
    font-family: $body-font-family;
  }
}

.withlinea {
  margin-bottom: 2.333em;

  &:after {
    content: '';
    display: block;
    margin:2rem auto 0;
    height:2px;
    width: 6em;
    background-color: $primary-color;
  }

  &.seccol:after {
    background-color: $secondary-color;
  }

}



.pricol {
  color:$primary-color;
}
.seccol {
  color:$secondary-color;
}


blockquote {
  text-align: center;
  background-color: $dark-gray;
  p:last-of-type {
    margin-bottom: 4rem;
  }
  cite {
    font-family: $header-font-family;
    font-style: normal;
  }
}

.ffsans {
  font-family: $header-font-family;
}