AuthType Basic
AuthName "Password Protected Area"
AuthUserFile .htpasswd
Require valid-user

### You need some RewriteRule in live environment
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

Redirect 301 /signup.html http://pulze.io/signup
Redirect 301 /index http://pulze.io/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]