.bulletblock {
}

.bulletblock--pricol {
  .bullet--title {

  }
}
.bullet {
  @include clearfix();
  margin: 0 0 2rem;

  @include clearfix();
  img {
    float: left;
    max-width: 4.333rem;
    margin-right: .75rem;

    @include breakpoint(large) {
      max-width: 5.5rem;
      margin-right: 1.5rem;
    }
  }
  p {
    font-size: .875rem;

    @include breakpoint(large) {
      margin-left: 7rem;
    }
  }
}
.bullet__title {
  margin-top: -.25em;
  color:$primary-color;
  @include breakpoint(large) {
    margin-left: 7rem;
  }
  &.seccol {
    color:$secondary-color;
  }
}
