


.bullet {
  margin: 0 0 2.5rem;

  @include clearfix();
  @include clearfix();
  img {
    float: left;

    max-width: 4.333rem;
    margin-right: .75rem;

    @include breakpoint(large) {
      max-width: 5.5rem;
      margin-right: 1.5rem;
    }
  }
  ul, p {
    clear:both;
    font-size: .875rem;


    @include breakpoint(xlarge) {
      text-align: justify;
    }
  }
}
.bullet__icon {
  float: left;

  width: 2.75rem;
  height: 2.75rem;
  margin-right: 1rem;

  fill: $primary-color;
  @include breakpoint(large) {
    //width: 3rem;
    //height: 3rem;
    margin-right: 1.25rem;
  }
  &.seccol {
    fill: $secondary-color;
  }
}


.bullet__title {
  //margin-top: -.25em;
  color: $primary-color;
  font-weight: $global-weight-normal;
  line-height: 2.75rem;
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
  @include breakpoint(large) {
    //line-height: 3.25rem;
  }
  &.seccol {
    color: $secondary-color;
  }
}
