.signuppage {
  border-top: 1px solid $medium-gray;
}
.smartlabelled {
  position: relative;
  margin-bottom: $form-spacing;
  overflow: hiden;
  label {
    position: absolute;
    //color:$primary-color;
    top:1.125rem;
    right:8%;

    //transform:translateY(-50%);
    line-height: 1;
    height:1em;
    //background-color: red;
    padding:0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }

  .filled + label {
    opacity:1;
    right:6%;
  }

}
label {
  font-family: $header-font-family;
  //text-transform: uppercase;
  letter-spacing: .0666em;
  padding-left: 5%;
  [type='checkbox'] + &, [type='radio'] + & {
    padding-left: 0;
    color:$white;
    font-size: 1rem;
    text-transform: none;
  }
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  font-family: $header-font-family;
  letter-spacing: .0666em;
  padding-left: 5%;
  .smartlabelled & {
    margin: 0;
    &:focus + label {
      color:rgba($white,.75);
      opacity: 1;
      right:6%;
      text-shadow:0 0 .5em $medium-gray;
    }
  }
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: transparent;
}
input:focus::placeholder, textarea:focus::placeholder {
  color: transparent;
}

select {
  font-family: $header-font-family;
  letter-spacing: .0666em;
  padding-left: 5%;
}
fieldset {
  margin:0 0 $form-spacing;
}
legend {
  font-family: $header-font-family;
  letter-spacing: .0666em;
  line-height: 1;
  border-bottom: 1px solid $medium-gray;
  display: block;
  padding:1rem 5% 1rem;
  margin:0 0 $form-spacing;
  width:100%;
  //text-transform: uppercase;
  //font-weight: $global-weight-bold;
  //color:$light-gray;
}

.row.buttonized {
  overflow:hidden;
  margin:-.666rem 0 0 -1.4rem;
  .column {
    padding:.666rem;
  }
  input {
    position: absolute;
    visibility: hidden;
    left:-9999px;
    opacity: 0;

    &:checked + label {
      background-color: $primary-color;
    }
  }
  label {
    display: block;
    line-height: 1;
    width:100%;
    padding:1em 1em;
    text-align: center;
    background-color: $medium-gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background-color: $light-gray;
    }

  }
}