.hero {
  position: relative;
  height: calc(100vh - 4.75rem);
  min-height: 30rem;
  background-color: $dark-gray;
  color:$white;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../img/pulze-hero2.jpg);
  &:before {
    content:'';
    position: absolute;
    left:0;top:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, $dark-gray 0 , rgba($dark-gray,.25) 12.5%, rgba($dark-gray,0) 50%, rgba($dark-gray,.25) 77.5%, $dark-gray 100%);
    z-index: 1;
  }
}


.hero__text {
  @include clearfix();
  z-index: 2;
  position: absolute;
  padding:0 1.5rem;
  width:100%;
  top:40%;
  transform: translateY(-50%);
}
.hero__title {
  margin:0 0 .666em;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
  &:after {
    content: '';
    display: block;
    margin:.5em auto 0;
    height:2px;
    width: 2.5em;
    background-color: $primary-color;
  }
}

.hero__subtitle {
  letter-spacing: 0;
  line-height: 1;
  margin:0;
  text-transform: uppercase;
  font-size: 1.125rem;
  position: relative;
  font-weight: 400;
}

.hero__action {
  @include clearfix();
  position: absolute;
  z-index: 2;
  padding:0 1.5rem;
  width:100%;
  bottom:11%;
    p {
    margin: .5em 0 0;
    font-size: .875rem;
    font-family: $header-font-family;
    //font-style: italic;
    //font-weight: 700;
    a {
      //color:$secondary-color;
    }
  }

  .button {
    margin:0;
    text-transform: uppercase;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}