<footer class="sitefooter">
  <div class="row">
    <div class="columns medium-6 fcopy text-center medium-text-left">&copy; 2016 &middot; <a href="#">Pulze</a> Lorem ipsum copyright</div>
    <div class="columns medium-6 text-center medium-text-right fsocials">
      <a href="#"><svg class="icon"><use xlink:href="#icon-facebook" /></svg></a>
      <a href="#"><svg class="icon"><use xlink:href="#icon-youtubeplay" /></svg></a>
      <a href="#"><svg class="icon"><use xlink:href="#icon-twitter" /></svg></a>
    </div>
  </div>
</div>