<section id="testimonials" class="testimonials ps ps--inverse">
  <div class="row">
    <div class="columns medium-10 large-10 medium-centered">
      <h2 class="ps__title withlinea">&ldquo;</h2>
      <blockquote >
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repellendus sapiente veritatis aliquid fuga, quisquam temporibus molestias nostrum fugit, quae accusamus error suscipit consequatur</p>
        <cite><a target="_blank" href="http://brickvisual.com">Brick Visual</a></cite>
      </blockquote>
    </div>
  </div>
</section>