<div data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;" data-top-anchor="1" style="width:100%" >
    <div class="top-bar-title">
      <a class="sitelogo" href="index.html">Pulze</a>
    </div>
    <div class="top-bar-right topbarfeat">
      <ul class="menu">
        <li><a href="signup.html" class="menu-text button button small">Sign Up</a></li>
      </ul>
    </div>
    <div id="responsive-menu" class="responsive-menu">
      <div class="top-bar-right">
        <ul class="menu menu--main" data-magellan data-threshold="0" data-bar-offset="77">
          <li><a href="#about">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <span class="menutoggler" data-responsive-toggle="responsive-menu" data-hide-for="medium" >
      <a href="#" data-toggle>Menu</a>
    </span>
  </div>
</div>