<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <a class="sitelogo" href="index.html">Pulze</a>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><button type="button" class="button button--ghost small">Sign Up</button></li>
    </ul>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="menu" data-magellan>
        <li><a href="#about">About</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>